section{
  position: relative;
  width: 100% !important;
  min-height: 600px;    
  overflow: hidden;
}

.parallax-item{
  position:absolute;
  z-index:5;
  top:40px;
  left:400px;
}

//section:nth-of-type(1){height:1200px;}
//section:nth-of-type(2){height:1600px;}

#story-freext>div:nth-of-type(1) {
  position:absolute;
  top:0;
  left:0;
  
  width: 100%;
  height: 300px;
  
  background: url(http://lab.victorcoulon.fr/javascript/scrolly/img/nike-bg.jpeg) 50% 0 no-repeat fixed;
}

#story-freext>div:nth-of-type(2) {
  position:absolute;
  top:0px;
  left:100px;
  
  width: 100%;
  height: 300px;
  
  background: url(http://lab.victorcoulon.fr/javascript/scrolly/img/nike.png) 50% 0 no-repeat fixed;
}

#bottle>div:nth-of-type(1){
  position:absolute;
  top:0;
  left:0;
  width: 100%; 
  height: 600px;
  
  background: url(http://betheme.muffingroupsc.netdna-cdn.com/be/parallax/wp-content/uploads/2015/01/home-parallax-section-works.jpg) 50% 0 no-repeat fixed;
}

