
.our-product .product-content{
    text-align: center;
    position: relative;
    overflow: hidden;
}
.our-product .product-title{
    font-size: 24px;
    color: #333;
    margin: 20px 0 0;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
}
.our-product .post{
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 15px;
}
/*.our-product .description{
    font-size: 16px;
    font-weight: 300;
    color: #333;
    padding: 0 35px;
    line-height: 22px;
    margin-bottom: 60px;
}*/

@media only screen and (max-width: 990px) {
    .our-product { margin-top: 0px; }
}