.our-team{
    position:relative;
    overflow: hidden;
    height: 355px;
}
.our-team .team-pic > img{
    width: 92%;
    height:auto;
}
.our-team .team-profile{
    background:#F7276C;
    padding: 0 24px;
    position: absolute;
    right: 29;
    bottom: -26%;
    width: 92%;
    min-height:143px;
    transition: all 0.25s ease 0s;
}
.our-team:hover .team-profile{
    bottom:0px;
}
.our-team .team-profile:before{
    content: "";
    border-bottom: 32px solid #F7276C;
    border-right: 262px solid transparent;
    position: absolute;
    top:-30px;
    left: 0;
}
.our-team .team-title{
    line-height: 22px;
    font-family: serif,Arial;
}
.our-team .team-title:after{
    content:"";
    display: block;
    width: 100%;
    border-bottom:1px solid #fff;
    padding-bottom:5px;
}
.our-team .team-title a{
    font-size: 20px;
    text-transform: uppercase;
    font-weight:bold;
    color: #fff;
    display: block;
    transition:all 0.2s linear 0s;
}
.our-team .team-title a:hover{
    color:#182e49;
    text-decoration: none;
}
.our-team .team-title > small{
    font-size: 16px;
    font-style: italic;
    color:#fff
}
.our-team .description{
    color: #fff;
    line-height: 25px;
    
}
.our-team .description:after{
    content:"";
    display:block;
    border-bottom:1px solid #fff;
    margin-top: 10px;
}
.our-team .team-social{
    padding:0;
}
.our-team .team-social > li{
    display: inline-block;
    margin-right: 12px;
}
.our-team .team-social > li > a{
    color:#fff;
    font-size:15px;
}
.our-team .team-social > li > a:hover{
    text-decoration: none;
}
@media only screen and (max-width: 990px) {
    .our-team{
        width: 310px;
        margin: 0 auto 15px;
    }
    .our-team .team-profile:before{
        border-right: 286px solid transparent;
    }
}
@media only screen and (max-width: 359px) {
    .our-team{
        width: auto;
    }
}